{% extends 'backend.html.twig' %}

{% block title %}Edit profile{% endblock %}

{% block body %}

    <div class="box box-default">
        <div class="box-body">
            {{ form_start(form, {attr: {class: "checkboxes-form"}}) }}
            {{ form_widget(form) }}
            <hr class="hr"/>
            {% if user.getAvatar() %}
            <div><strong>Current image</strong></div>
            <img src="{{ user.getAvatar() | imagine_filter('avatar') }}">
            {% endif %}
            <hr class="hr"/>
            <div class="form-group btn-group">
                <a class="btn btn-default" href="{{ path('users_backend') }}">Back</a>
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>

{% endblock %}
