{% block sidebar %}
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header"><i class="fas fa fa-shopping-basket"></i> MAIN NAVIGATION</li>
                <li>
                    <a href="{{ path('index_backend') }}">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('store_backend') }}">
                        <i class="fa fa-shopping-basket"></i>
                        <span>Stores</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('store_statistic_backend') }}">
                        <i class="fa fa-bar-chart"></i>
                        <span>Statistic</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('users_backend') }}">
                        <i class="fa fa-users"></i>
                        <span>Users</span>
                    </a>
                </li>

                {#
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-files-o"></i>
                        <span>Layout Options</span>
                        <span class="pull-right-container">
              <span class="label label-primary pull-right">4</span>
            </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
                        <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> Boxed</a></li>
                        <li><a href="pages/layout/fixed.html"><i class="fa fa-circle-o"></i> Fixed</a></li>
                        <li><a href="pages/layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
                    </ul>
                </li>
                <li>#}
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
{% endblock %}
