
@import './helpers';

body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
}

.info-box:hover {
  color: #333;
}
.info-box-footer {
  position: relative;
  bottom: -14px;
  display: block;
  background: rgba(0,20,0,0.1);
  margin-left: 90px;
  padding-left: 10px;
  line-height: 20px;
}

.pagination {
  text-align: center;
  width: 100%;
  & > a,
  & > span {
    display: inline-block;
    padding: 6px;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 0 0 1px #000;
    margin: auto 3px;
    color: #000;
    &.disabled {
      opacity: .5;
      cursor: not-allowed;
    }
    &.active {
      font-weight: bold;
    }
  }
}
