
@import './helpers';

body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
}

.form-group.checkboxes {
  .form-control {
    height: auto;
    min-height: 34px;
    input {
      position: absolute;
      z-index: 1;
      & + label {
        display: block;
        padding-left: 1.3em;
      }
    }
  }
}


