{% extends 'backend.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block body %}

    <ul>
        {% for user in users %}
            <li>
                <a href="{{ path('editUser_backend', {id: user.id}) }}">
                   {{ user.login }}
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
