{% extends 'backend.html.twig' %}

{% block title %}Edit user{% endblock %}

{% block body %}

    <div>
        {{ form_start(form, {attr: {class: "checkboxes-form"}}) }}
        {{ form_widget(form) }}
        <hr class="hr"/>
        <div class="form-group btn-group">
            <a class="btn btn-default" href="{{ path('users_backend') }}">Back</a>
            <button type="submit" class="btn btn-success">Save</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
