{% extends 'backend.html.twig' %}

{% block title %}Users{% endblock %}
{% block body %}
    <ul>
        {% for user in users %}
        <li>
            <a href="{{ path('user_edit_backend',
                {id: profile.id, login: profile.login})
            }}">{{ profile.login|capitalize }}</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
