{% extends 'backend.html.twig' %}

{% block title %}Store index{% endblock %}
{% block body %}
    <ul class="row">
        {% for store in stores %}
            <li>
                <a href="{{ path('store_edit_backend',
                    {id: store.id, title: store.title}
                ) }}">{{ store.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
