{% extends 'backend.html.twig' %}

{% block title %}Store statistic{% endblock %}
{% block body %}

    <div>
        Store statistic
    </div>

    <div class="clearfix"></div>

    <div class="col-md-3">
        <div class="row">
            <div class="chart" id="test-chart">
                <canvas></canvas>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

{% endblock %}
